<!-- <div class="orange-rect rect1">
</div>
<div class="blue-rect rect2">
</div>
<div class="orange-rect rect3">
</div>
<div class="blue-rect rect4">
</div> -->

<div id='root'>
  REACT BROKE! :(
</div>
