.channel-input {

}

.channel-input input {
  width: 100%;
  height: 30px;
  border: none;
  border-bottom: 1px solid #4294C1;
  font-size: 1em;
  font-weight: 100;
  margin-bottom: 1px;
}

.channel-input input:focus {
  border-width: 2px;
  margin-bottom: 0;
}
