.channels {
  background-color: rgba(#ffdfdf, 0.9);
}

.channels h1 {
  cursor: default;
  color: #8a0000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.channels i {
  color: #666;
  cursor: pointer;
  transition: transform 0.3s;
}

.channels i:hover {
  color: #4294C1;
  transform: rotate(90deg);
}

.channel-display-name {
  display: inline-flex;
  font-size: 1.2em;
  margin-top: 10px;
}

.channels a:hover .channel-display-name {
  color: #4294C1;
}

.active .channel-display-name {
  color: #4294C1;
}
