.channel-settings {
  display: flex;
  flex-direction: column;
}

.channel-settings form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.channel-settings button {
  margin: 10px auto 0 auto;
  height: 35px;
  font-size: 1em;
  border: none;
  color: white;
  border-radius: 5px;
}

.channel-settings button.leaveChannel {
  background: #FF7979;
}

.channel-settings button.updateChannel {
  background: #4294C1;
}

.channel-settings button:hover {
  box-shadow: 0.5px 0.5px 0.5px #666;
}
