.channel-input {
  display: flex;
}

.channel-input input {
  width: 100%;
  height: 30px;
  border: none;
  font-size: 1em;
  font-weight: 100;
}

.channel-input input[type=text] {
  border-bottom: 1px solid #4294C1;
  margin-bottom: 1px;
  flex: 1;
}

.channel-input input[type=text]:focus {
  border-width: 2px;
  margin-bottom: 0;
}

.channel-input input[type=submit] {
  color: #4294C1;
  background: transparent;
  width: 60px;
  margin-left: 10px;
}
