.channels {
  background-color: rgba(#fff0f0, 1);
}

.channels h1 {
  color: #8a0000;
}

.channels h1 button {
  margin: 0;
  font-size: 0.8em;
  height: 30px;
}

.channel-display-name {
  display: inline-flex;
  font-size: 1.2em;
  margin-top: 10px;
}
