.channel-settings {
  display: flex;
  flex-direction: column;
}

.channel-settings form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.channel-settings h1 {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  margin-bottom: 20px;
}

.channel-settings i {
  color: #FF7979;
  cursor: pointer;
  transition: transform 0.3s;
}

.channel-settings i:hover {
  text-shadow: 0.5px 0px 0.5px #666;
}

.channel-settings input[type=text] {
  font-size: 1em;
  height: 20px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #4294C1;
}

.channel-settings input[type=text]:focus {
  font-size: 1.1em;
  font-weight: 100;
  margin-bottom: 9px;
  border: none;
  border-bottom: 2px solid #4294C1;
}

.channel-settings input[type=submit]{
  height: 35px;
  font-size: 1em;
  color: #666;
  border: 1px #666 solid;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
  width: 100%;
  transition: color 0.3s;
  transition: border-color 0.3s;
}

.channel-settings input[type=submit]:hover {
  color: #4294C1;
  border-color: #4294C1;
}

.channel-settings button {
  margin: 10px auto 0 auto;
  height: 35px;
  font-size: 1em;
  border: none;
  background: #FF7979;
  color: white;
  border-radius: 5px;
}

.channel-settings button:hover {
  box-shadow: 0.5px 0px 0.5px #666;
}
