.channels {
  background-color: rgba(#fff0f0, 1);
}

.channels h1 {
  cursor: default;
  color: #8a0000;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.channels h1 button {
  margin: 0;
  font-size: 0.8em;
}

// .channels h1 i {
//   color: #4294C1;
//   cursor: pointer;
//   transition: text-shadow 0.3s;
// }
//
// .channels h1 i:hover {
//   text-shadow: 0.5px 0.5px 0.5px #666;
// }

.channels li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.channels li i {
  cursor: pointer;
  color: #1e475d;
}

.channels li i:hover {
  color: #4294C1;
}

.channel-display-name {
  display: inline-flex;
  font-size: 1.2em;
  margin-top: 10px;
}
