.channel-settings {
  display: flex;
  flex-direction: column;
}

.channel-settings form {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.channel-settings button.leaveChannel {
  background: #FF7979;
}

.channel-settings button.updateChannel {
  background: #4294C1;
}
