.channel-search {
  display: flex;
  flex-direction: column;
}

.channel-search input {
  font-size: 1em;
  text-align: center;
  height: 25px;
  border: none;
  border-bottom: #4294C1 solid 1px;
  margin-bottom: 1px;
}

.channel-search input:focus {
  border-width: 2px;
  margin-bottom: 0;
}

.channel-search-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px #CCC solid;
  margin: 10px 0;
  padding: 15px 0;
}

.channel-search-item strong {
  font-size: 1.5em;
}

.channel-search-item button {
  font-size: 1em;
  padding: 10px;
  margin-left: 15px;
  border-radius: 4px;
}

.channel-search-item button.enabled {
  border: none;
  background: #4294C1;
  color: white;
  transition: box-shadow 0.3s;
}

.channel-search-item button.enabled:hover {
  box-shadow: 0.5px 0.5px 0.5px #666;
}

.channel-search-item button.disabled {
  background: transparent;
  color: #CCC;
  border: 0.5px solid;
  cursor: default;
}
