.feed {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.feed ul {
  flex: 1;
  overflow-x: auto;
}

.feed ul li {
  width: inherit;
  word-wrap: break-word;
}

.feed .context-information {
  margin-bottom: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}

.feed .context-information h1 {
  font-size: 1.5em;
}
