.message {
  display: flex;
  flex-direction: column;
  padding: 5px 0;
  transition: background-color 2s;
}

.message.is-new {
  background: rgba(#ffdfdf, 1);
}

.message .user {
  font-weight: 700;
  color: #1e475d;
  cursor: pointer;
}

.message .user:hover {
  color: #4294C1;
}

.message .timestamp {
  margin-top: 3px;
  font-size: 0.8em;
  color: #CCC;
  font-style: italic;
}
