.message-input {
  display: flex;
}

.message-input input {
  width: 100%;
  height: 30px;
  border: none;
  font-size: 1em;
  font-weight: 100;
  background: transparent;
}

.message-input input[type=text] {
  border-bottom: 1px solid #4294C1;
  margin-bottom: 1px;
  flex: 1;
}

.message-input input[type=text]:focus {
  border-width: 2px;
  margin-bottom: 0;
}

.message-input input[type=submit] {
  color: #2f6e90;
  width: 60px;
  margin-left: 10px;
  cursor: pointer;
}

.message-input input[type=submit]:hover {
  color: #4294C1;
}
