.message {
  padding: 7.5px 0;
}

.message.is-new {
  background: rgba(#fff0f0, 1);
}

.message .user {
  font-weight: 700;
  color: #1e475d;
  cursor: pointer;
}

.message .user:hover {
  color: #4294C1;
}
