.message {
  padding: 7.5px 0;
  transition: background-color 2s;
}

.message.is-new {
  background: rgba(#ffdfdf, 1);
}

.message .user {
  font-weight: 700;
  color: #1e475d;
  cursor: pointer;
}

.message .user:hover {
  color: #4294C1;
}
