.new-channel-form {
  display: flex;
  flex-direction: column;
  margin: 0;
  margin: 10px 20px;
  width: 300px;
}

.new-channel-form h1 {
  display: flex;
  justify-content: space-between;
  font-size: 2em;
  margin-bottom: 20px;
}

.new-channel-form i {
  color: #FF7979;
  cursor: pointer;
}

.new-channel-form i:hover {
  color: #ff3535;
}

.new-channel-form input[type=text] {
  font-size: 1em;
  height: 20px;
  margin: 10px 0;
  border: none;
  border-bottom: 1px solid #4294C1;
}

.new-channel-form input[type=text]:focus {
  font-weight: 100;
  margin-bottom: 9px;
  border: none;
  border-bottom: 2px solid #4294C1;
}

.new-channel-form input[type=submit] {
  height: 35px;
  font-size: 1em;
  color: #666;
  border: 1px #666 solid;
  border-radius: 0;
  background: transparent;
  cursor: pointer;
  transition: color 0.3s;
  transition: border-color 0.3s;
}

.new-channel-form input[type=submit]:hover {
  color: #4294C1;
  border-color: #4294C1;
}
