.users-search input {
  margin-left: 10px;
  height: 20px;
  border: none;
  font-size: 1em;
  font-weight: 100;
  background: transparent;
  border-bottom: 1px solid #4294C1;
  margin-bottom: 1px;
}

.users-search input:focus {
  border-width: 2px;
  margin-bottom: 0;
}

.users-search {
  display: flex;
}

.search-results {
  position: absolute;
  background: white;
  margin-left: 10px;
  box-shadow: 1px 1px 3px #666;
  max-height: 500px;
  overflow-y: auto;
}

.search-results li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
  border-top: 1px solid #EEE;
}

.search-results li:first-child {
  border: none;
}

.search-results li button {
  background: #4294C1;
  color: white;
  padding: 8px;
  border: none;
  border-radius: 4px;
  margin-left: 10px;
  transition: box-shadow 0.3s;
}

.search-results li button:hover {
  box-shadow: 0.5px 0.5px 0.5px #666;
}

.search-results li button[disabled] {
  background: transparent;
  color: #CCC;
  border: 0.5px solid;
  cursor: default;
  box-shadow:none;
}

.search-results li div {
  line-height: 1.4em;
}

#add-users {
  font-size: 0.8em;
  margin-right: 8px;
}

// .channel-search-item button {
//   font-size: 1em;
//   padding: 10px;
//   margin-left: 15px;
//   border-radius: 4px;
// }
//
// .channel-search-item button.enabled {
//   border: none;
//   background: #4294C1;
//   color: white;
//   transition: box-shadow 0.3s;
// }
//

//
// .channel-search-item button.disabled {
//   background: transparent;
//   color: #CCC;
//   border: 0.5px solid;
//   cursor: default;
// }
