.side-panel {
  display: inline-flex;
  flex-direction: column;
  margin-right: 20px;
  max-width: 450px;
  min-width: 400px;
  max-height: 94vh;
  overflow-y: auto;
}

.side-panel-component {
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 3px;
  // max-height: 250px;
  // overflow-y: auto;
}

.side-panel-component h1 {
  cursor: default;
  font-size: 1.5em;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 10px;
  border-bottom: 1px solid #CCC;
}

.side-panel-component h1 span {
  color: #1e475d;
  margin: 0;
  font-size: 0.8em;
  cursor: pointer;
}

.side-panel-component h1 span:hover {
  color: #4294C1;
}

.side-panel-component li {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 5px 0;
}

.side-panel-component li i {
  cursor: pointer;
  color: #1e475d;
}

.side-panel-component li i:hover {
  color: #4294C1;
}

.side-panel-component button {
  height: 35px;
  font-size: 1em;
  border: none;
  background: #4294C1;
  color: white;
  border-radius: 5px;
  padding: 0 15px;
  margin-top: 5px;
  margin-left: auto;
}

.side-panel-component button:hover {
  box-shadow: 0.5px 0.5px 0.5px #666;
}

h1 {
  margin-bottom: 4px;
}

a {
  text-decoration: none;
  color: #333;
  line-height: 1.4em;
}

.active {
  color: #33779d;
  font-weight: 700;
  border-left: 3px solid;
  padding-left: 5px;
}

.new-message-count {
  margin-left: 10px;
  color: #FF7979;
  font-weight: 700;
}

@media only screen and (max-width: 450px) {
  .side-panel {
    min-width: 0;
    flex: 1;
    margin-right: 0;
    max-height: none;
  }
}
