.register button, .sign-in button {
  position: absolute;
  bottom: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  background: transparent;
  color: white;
  font-size: 1.3em;
  font-weight: 200;
  border: 2px white solid;
  width: 100px;
  height: 40px;
  text-shadow: 1px 0px 2px #666;
  box-shadow: 1px 0px 2px #666;
  cursor: pointer;
  transition: background-color 0.3s;
  transition: color 0.3s;
}

.register button:hover, .sign-in button:hover {
  background: white;
  color: #4294C1;
  text-shadow: none;
}
